---
import { getCollection } from 'astro:content';
import ImageWidget from "@comps/widgets/imgWidgetCard.astro";
const procurementContent = await getCollection('imgwidgets', ({ id }) => id.startsWith('procurement/'));
procurementContent.reverse();
---
<div class="grid grid-cols-1 md:grid-cols-3 justify-center items-start gap-10 py-8 my-12">
    {procurementContent.map((p) => <ImageWidget post={p}/>)}
</div>