<div class="w-full flex justify-between px-6 py-6 border-0 border-t border-gray-400">
    <div>
        <div class="text-lg">GSW</div>
    </div>

    <div class="text-end text-gray-500 w-full">
        <div class="text-md"> Copyright © {new Date().getFullYear()} All Rights Reserved</div>
    </div>
</div>