---

---
<li><a href="/">Home</a></li>
<li>
    <details>
      <summary><a>Services</a></summary>
      <ul class="p-2 w-[240px]">
        <li><a href="/services/development">Web Design & Development</a></li>
        <li><a href="/services/procurement">Procurement & Sourcing</a></li>
        <li><a href="/services/accounting">Bookkeeping & Accounting</a></li>
      </ul>
    </details>
  </li>
<li><a href="/news">News</a></li>
<li><a href="/about">About Us</a></li>
<li><a href="#contact">Contact Us</a></li>