---

---
<li><a href="/">Home</a></li>
<li>
    <details>
      <summary><p>Services</p></summary>
      <ul class="p-2 w-[240px]">
        <li><a href="/services/development" aria-label="Link For Web Design & Development Services Page">Web Design & Development</a></li>
        <li><a href="/services/procurement" aria-label="Link For Procurement & Sourcing Services Page">Procurement & Sourcing</a></li>
        <li><a href="/services/accounting" aria-label="Link For Bookkeeping & Accounting Services Page">Bookkeeping & Accounting</a></li>
      </ul>
    </details>
  </li>
<li><a href="/news">News</a></li>
<li><a href="/about">About Us</a></li>
<li><a href="#contact">Contact Us</a></li>