---
import bg from "@imgs/singlepost.jpg";
import Head from '@comps/general/head.astro';
import Header from '@comps/general/header.astro';
import Footer from '@comps/general/footer.astro';
import { getCollection } from 'astro:content';
import BlogCard from "@comps/news/blogCard.astro";
const allPosts = await getCollection("news");
---
<!doctype html>
<html lang="en">
	<Head><title>Company News | GSW</title></Head>
	<body>
	<Header />
        <div class="w-full py-24" style={{ backgroundImage: `url(${bg.src})`, backgroundSize: 'cover', backgroundPosition: 'relative', backgroundRepeat: 'no-repeat' }} >
            <div class="flex flex-col justify-center items-center gap-3">
                <h1 class="text-4xl text-gray-900 font-bold">Company News</h1>
                <p class="text-md text-gray-900 dark:text-white">Home > Company News</p>
            </div>
        </div>

        <div class="w-10/12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-start items-start my-12 mx-auto">
            {allPosts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).map((p: any) => <BlogCard post={p}/>)}
        </div>
    <Footer />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	h1, h2, h3, h4, h5, h6 { font-family: 'Unna' !important; }
	body { font-family: 'Open Sans', system-ui !important; }
</style>