---
import cta from "@imgs/cta-bg.jpg";
---
<section class="pt-[150px] pb-[140px] flex justify-start items-center" style={{ backgroundImage: `url(${cta.src})`, backgroundSize: 'cover', backgroundPosition: 'relative', backgroundRepeat: 'no-repeat' }}  >
    <div class="px-32">
        <div class="max-w-screen-md">
            <h2 class="mb-2 text-4xl captitalize tracking-tight text-gray-900 dark:text-white">Join Us on the Journey to Elevate Your Business</h2>
                <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Are you ready to elevate your business to new heights? Partner with GSW Solutions and experience the impact of tailored services designed with your success in mind.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <button class="btn bg-black text-white text-lg font-normal hover:text-black hover:bg-white">Contact Us</button>
            </div>
        </div>
    </div>
</section>