---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
const allServices = await getCollection("services");
const services = allServices.map((p) => p.data.title);
---

<section class="flex flex-col justify-center items-center mx-auto py-12 bg-gray-200 w-full" id="contact">
  <h1 class="text-4xl">Contact Us</h1>
  <hr class="mx-auto w-[70px] mt-3 border-black border">
  <div class="flex flex-col-reverse md:flex-row  gap-10 mx-12">
    <div class="flex flex-col justify-center items-center md:w-1/2 w-full">
      <form action="https://formsubmit.co/051e3c11dc57957e213add3260bb00ee" method="POST" class="mx-auto mb-0 mt-8 w-full space-y-4">
        <input type="hidden" name="_captcha" value="false">
        <div>
          <label class="sr-only" for="Name">Name</label>
          <input class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Your Name *" type="text" name="name" required/>
        </div>
        <div>
          <label class="sr-only" for="phone">Phone</label>
          <input class=" w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Phone Number *" type="tel" name="phone" required/>
        </div>
        <div>
          <label class="sr-only" for="email">Email</label>
          <input class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Email Address *" type="email" name="email" required/>
        </div>
          <select name="Select a Service" class="btn flex justify-between rounded-lg w-full bg-black hover:text-black hover:bg-white border border-black px-6 py-3 text-sm font-semibold text-white focus:ring-black  focus:border-black">
            <option disabled selected>Choose A Service</option>
            {services.map((service) => 
            <option>
              <p class="font-semibold"> <input type="hidden" name="_subject" value={"New Inquiry" + service}>{service} </p>
            </option>
            )}
          </select>
        <div>
          <label class="sr-only" for="message">Message</label>
          <textarea name="message" class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Tell Us About Your Project *" rows="4" id="message" required></textarea>
        </div>
        <div>
          <button type="submit" class="w-full rounded-lg bg-black hover:text-black hover:bg-white border border-black px-6 py-3 text-sm font-semibold text-white">
            Send Message
          </button>
        </div>
      </form>
    </div>
    <div class="flex flex-col justify-center items-start md:w-1/2 w-full pt-12 md:pt-0">
        <p class="text-gray-800 text-lg">
          <span class="text-black">Your Partner in Growth</span>
          <br /><br />
          We’re here to help you reach new heights. Contact us today to explore how we can support your business goals and empower your journey. 
        </p>
        <div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:map-marker-alt-filled-loop" class="w-6 h-6" />
            <p class="text-black ml-2">28 Hosep tower, Park street, Fifth Avenue, Islamabad.</p>
          </div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:phone-filled" class="w-6 h-6" />
            <p class="text-black ml-2">+92 (343) 492 7487</p>
          </div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:email-alt-filled" class="w-6 h-6" />
            <p class="text-black ml-2">info@gswsolutions.co</p>
          </div>
        </div>
    </div>
  </div>
</section>