---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
const allServices = await getCollection("services");
const services = allServices.map((p) => p.data.title);
---

<section class="flex flex-col justify-center items-center mx-auto py-12 bg-gray-200 w-full" id="contact">
  <div id="formsubmission" class="hidden my-12 border-2 border-black w-[98%] z-99 mx-auto flex items-center p-4 mb-4 text-black rounded-lg bg-gray-50">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Success</span>
    <div class="ms-3 text-sm font-medium">
      Thank You For Your Submission. 
      We have received your message & will get back to you shortly.
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 text-gray-700 rounded-lg p-1.5 hover:bg-gray-200 inline-flex items-center justify-center h-8 w-8" aria-label="Close" onclick="this.parentElement.style.display='none';">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
  <h1 class="text-4xl">Contact Us</h1>
  <hr class="mx-auto w-[70px] mt-3 border-black border">
  <div class="flex flex-col-reverse md:flex-row  gap-10 mx-12">
    <div class="flex flex-col justify-center items-center md:w-1/2 w-full">
      <form action="https://formsubmit.co/051e3c11dc57957e213add3260bb00ee" method="POST" class="mx-auto mb-0 mt-8 w-full space-y-4">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_subject" value="New Inquiry">
        <input type="hidden" name="_next" value="https://gswsolutions.co/#formsubmission">
        <div>
          <label class="sr-only" for="Name">Name</label>
          <input class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Your Name *" type="text" name="name" required/>
        </div>
        <div>
          <label class="sr-only" for="phone">Phone</label>
          <input class=" w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Phone Number *" type="tel" name="phone" required/>
        </div>
        <div>
          <label class="sr-only" for="email">Email</label>
          <input class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Email Address *" type="email" name="email" required/>
        </div>
          <select name="Select a Service" class="btn flex justify-between rounded-lg w-full bg-black hover:text-black hover:bg-white border border-black px-6 py-3 text-sm font-semibold text-white focus:ring-black  focus:border-black">
            <option disabled selected>Choose A Service</option>
            {services.map((service) => 
              <option>
                <p class="font-semibold"> {service} </p>
              </option>
            )}
          </select>
        <div>
          <label class="sr-only" for="message">Message</label>
          <textarea name="message" class="w-full bg-transparent rounded-lg border-0 border-b border-gray-400 p-3 text-sm focus:ring-black focus:border-black" placeholder="Tell Us About Your Project *" rows="4" id="message" required></textarea>
        </div>
        <div>
          <button type="submit" class="w-full rounded-lg bg-black hover:text-black hover:bg-white border border-black px-6 py-3 text-sm font-semibold text-white">
            Send Message
          </button>
        </div>
      </form>
    </div>
    <div class="flex flex-col justify-center items-start md:w-1/2 w-full pt-12 md:pt-0">
        <p class="text-gray-800 text-lg">
          <span class="text-black">Your Partner in Growth</span>
          <br /><br />
          We’re here to help you reach new heights. Contact us today to explore how we can support your business goals and empower your journey. 
        </p>
        <div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:map-marker-alt-filled-loop" class="w-6 h-6" />
            <p class="text-black ml-2">Office #5, Basement, Shahbaz Plaza, Isa Khel, 42430, Pakistan</p>
          </div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:phone-filled" class="w-6 h-6" />
            <p class="text-black ml-2">+92 (343) 492 7487</p>
          </div>
          <div class="flex flex-row justtify-start items-start mt-3 text-lg">
            <Icon name="line-md:email-alt-filled" class="w-6 h-6" />
            <p class="text-black ml-2">info@gswsolutions.co</p>
          </div>
        </div>
    </div>
  </div>
</section>
<script type="module">
  const showFormSubmissionMessage = () => {
    try {
      const url = new URL(window.location.href);
      const contactSection = document.getElementById("contact");
      const formSubmissionElement = document.getElementById("formsubmission");
      if (url.hash === "#formsubmission" && contactSection && formSubmissionElement) {
        formSubmissionElement.style.display = "flex";
        contactSection.scrollIntoView({ behavior: "smooth", block: "center" });
      } else if (formSubmissionElement) {
        formSubmissionElement.style.display = "none";
      }
    } catch (error) {
      console.error("Error occurred in showFormSubmissionMessage():", error);
    }
  };
  showFormSubmissionMessage();
</script>