---

---
<li><a>Home</a></li>
<li>
    <details>
      <summary><a>Services</a></summary>
      <ul class="p-2 w-[240px]">
        <li><a>Web Design & Development</a></li>
        <li><a>Procurement & Sourcing</a></li>
        <li><a>Bookkeeping & Accounting</a></li>
      </ul>
    </details>
  </li>
<li><a>Pricing</a></li>
<li><a>Blog</a></li>
<li><a>About Us</a></li>
<li><a>Contact Us</a></li>