---
import { getCollection } from 'astro:content';
import TeamCard from "@comps/teamCard.astro";
const allTeam = await getCollection("team");
---
<div class="w-full text-center py-12 my-12 flex flex-col justify-center items-center">
    <h1 class="text-4xl">Our Team</h1>
    <hr class="mx-auto w-[70px] mt-3 border-black border">
    <div class="w-full grid grid-cols-1 md:grid-cols-3 justify-center items-center py-12 gap-10">
        {allTeam.map((p: any) => <TeamCard post={p}/>)}
    </div>
</div>