---
import { Image } from "astro:assets";
const { post } = Astro.props;
const {headshot, name, role} = post.data;
---
<div class="flex flex-col justify-center items-center">
    <Image class="w-4/5" src={headshot} alt={name} />
    <p class="font-semibold text-xl text-gray-800 pt-3">{name}</p>
    <p class="text-md text-gray-500">{role}</p>
</div>