---
import { getCollection } from 'astro:content';
import ServicesCard from "@comps/servicesCard.astro";
const allServices = await getCollection("services");
---
<div class="w-full-min-h-scren my-24 flex flex-col items-center gap-12 justify-center align-middle">
    <div class="max-w-md text-center">
        <h1 class="text-4xl my-2">
            Welcome To GSW
        </h1>
        <p class="text-md text-gray-500 m-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
        </p>
        <hr class="mx-auto w-[70px] border-black border-2">
    </div>
    <div class="flex flex-row">
        {allServices.map((p) => <ServicesCard post={p}/>)}
    </div>
</div>