---
import Progress from "@comps/progress.astro"
import { getCollection } from 'astro:content';
const allProgress = await getCollection("services");
---
<div class="w-full text-center py-12 my-12 flex flex-col justify-center items-center">
    <h1 class="text-4xl">Why Choose GSW Solutions?</h1>
    <p class="text-gray-700 mt-4 px-8"> At GSW Solutions, we’re more than a service provider; we’re a partner dedicated to empowering your growth with quality, transparency, and a client-first approach.</p>
    <div class="w-[90%] flex flex-row justify-center items-center py-12">
        <div class="w-1/2 flex flex-col justify-center items-center mx-12 text-start text-lg">
            <div class="text-gray-500 mt-4">
                <ul>
                    <li class="flex flex-col">
                        <span class="font-semibold">Comprehensive Expertise</span>
                        <p class="mt-2">With expertise in procurement, accounting, and web development, we deliver tailored solutions to address every business need, driving sustainable growth.</p>
                    </li>
                    <li class="flex flex-col mt-4">
                        <span class="font-semibold">Extensive Network with Tailored Engagement</span>
                        <p class="mt-2">Our global network enhances operations with strategic insight, ensuring smooth, exceptional results.</p>
                    </li>
                    <li class="flex flex-col mt-4">
                        <span class="font-semibold">Commitment To Quality & Efficiency</span>
                        <p class="mt-2">We exceed expectations, supporting your growth and vision every step of the way.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-1/2 flex flex-col mx-12">
            {allProgress.map((p: any) => <Progress post={p}/>)}
        </div>
    </div>
    <p class="text-gray-700 mt-4">Choose GSW Solutions—Your Trusted Partner In Growth.</p>
</div>