---
const { post } = Astro.props;
const {question, answer} = post.data;
---
<details class="group [&_summary::-webkit-details-marker]:hidden w-full">
    <summary class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900">
      <h3 class="font-semibold capitalize" style="font-size: 16px !important;">{question}</h3>
      <svg class="w-5 transition duration-100 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /></svg>
    </summary>
    <p class="mt-4 px-4 leading-relaxed text-gray-700"> {answer} </p>
</details>