---
import { getCollection } from 'astro:content';
import BlogCard from "@comps/blog/blogCard.astro";
const allPosts = await getCollection("blog");
---
<section class="flex flex-col justify-center items-center mx-auto py-24 w-full">
    <h1 class="text-4xl">Company News</h1>
    <hr class="mx-auto w-[70px] mt-3 border-black border">
    <div class="flex flex-row mt-12 mx-6">
        {allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)).map((p) => <BlogCard post={p}/>)}
    </div>
</section>