---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource-variable/baloo-bhai-2';
import '@fontsource/poppins';

import Head from '@comps/head.astro';
import Header from '@comps/header.astro';
---

<!doctype html>
<html lang="en">
	<Head><title>{title}</title></Head>
	<body>
	<Header />
		<slot />
	</body>
</html>
<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Baloo Bhai 2 Variable', system-ui !important;
}
</style>