---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource/unna';
import '@fontsource-variable/open-sans';

import Head from '@comps/general/head.astro';
import Header from '@comps/general/header.astro';
import Footer from '@comps/general/footer.astro';
---

<!doctype html>
<html lang="en">
	<Head><title>{title}</title></Head>
	<body>
	<Header />
		<slot />
	<Footer />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	h1, h2, h3, h4, h5, h6 { font-family: 'Unna', system-ui !important; }
	body { font-family: 'Open Sans', system-ui !important; }
</style>