---
const { frontmatter } = Astro.props;
import bg from "@imgs/singlepost.jpg";
import Head from '@comps/general/head.astro';
import Header from '@comps/general/header.astro';
import Footer from '@comps/general/footer.astro';
import Contact from "@/components/contact.astro";
---
<!doctype html>
<html lang="en" style="overflow-x: hidden !important;">
	<Head><title>{frontmatter.title} | GSW</title></Head>
	<body>
	<Header />
        <div class="w-full py-24" style={{ backgroundImage: `url(${bg.src})`, backgroundSize: 'cover', backgroundPosition: 'relative', backgroundRepeat: 'no-repeat' }} >
            <div class="flex flex-col justify-center items-center gap-3">
                <h1 class="text-4xl text-gray-900 font-bold">{frontmatter.title}</h1>
                <p class="text-md text-gray-900 dark:text-white"> <a href="/">Home</a> > Services > {frontmatter.title}</p>
            </div>
        </div>

        <div class="w-full flex flex-col justify-start items-start px-12 py-10 prose-headings:w-full prose-headings:text-center prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-3xl prose-h4:text-2xl prose-h5:text-xl prose-h6:text-lg prose-ul:list-disc prose-ol:list-decimal">
            <slot />
        </div>
    <Contact />
    <Footer />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	h1, h2, h3, h4, h5, h6 { font-family: 'Unna' !important; }
	body { font-family: 'Open Sans', system-ui !important; }
</style>
